<%- include('./partials/head') %>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div class="container">
    <form action="/search">
      <button type="submit">Let Me Search Please</button>
    </form>

    <h1>home page</h1>
    <p>welcome to the word library - you can save words and stuff here!</p>
  </div>

  <%- include('./partials/footer') %>