<%- include('./partials/head') %>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div class="container">
    <form action="/">
      <button type="submit">Take Me Home Please</button>
    </form>

    <h1>Search For Any Word!</h1>
    <h2>You'll be amazed what you find perhaps</h2>


    <form action="/search" method="POST">
      <label for="word">
        <input type="text" name="word" placeholder="Maybe parrot? Or how about sugarcane?">
      </label>

      <button type="submit">Find That Word!</button>
    </form>
  </div>
  <%- include('./partials/footer') %>