<%- include('./partials/head') %>


<div class="container">
  <form action="/search">
    <button type="submit">Let Me Search Again Please</button>
  </form>
  <form action="/">
    <button type="submit">Take Me Home Please</button>
  </form>
  <h1>Oh no! We couldn't find anything about your search for <%= wordObj %></h1>

  <img
    src="https://images.unsplash.com/photo-1564519891417-09ef00a7489f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1436&q=80"
    alt="a panda eating bamboo">
</div>
<%- include('./partials/footer') %>